body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body body {
  background: #d9d9d9;
}

.field {
  height: 100vh;
  position: relative;
}
.field__cross-name, .field__circle-name {
  line-height: 75px;
  font-family: "GOST Type BU";
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.field__cross-name {
  margin-left: 15px;
}
.field__circle-name {
  margin-left: auto;
  margin-right: 15px;
}
.field__cross-player, .field__circle-player {
  position: absolute;
  top: 7vh;
  max-width: 250px;
  width: 250px;
  height: 75px;
  border-radius: 5px;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.field__cross-player {
  left: 10px;
}
.field__circle-player {
  right: 10px;
}
.field__container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}
.field__grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  -ms-grid-columns: 150px 5px 150px 5px 150px;
  grid-template-columns: repeat(3, 150px);
  grid-auto-rows: 1fr;
  -webkit-box-shadow: 0px -1px 39px 3px rgba(34, 60, 80, 0.11);
          box-shadow: 0px -1px 39px 3px rgba(34, 60, 80, 0.11);
}
.field__Bigcell {
  -webkit-box-shadow: 0px -1px 39px 3px rgba(255, 154, 154, 0.11);
          box-shadow: 0px -1px 39px 3px rgba(255, 154, 154, 0.11);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (50px)[3];
  grid-template-rows: repeat(3, 50px);
  border: 1px solid #555555;
}
.field__Bigcell > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.field__Bigcell > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.field__Bigcell > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.field__Bigcell > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.field__Bigcell > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.field__Bigcell > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.field__Bigcell > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.field__Bigcell > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.field__Bigcell > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.field__smallCell {
  border: 1px solid #a8a8a8;
  position: relative;
}
.field__smallCell:hover {
  cursor: pointer;
}
.field__smallCell img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
.field__score {
  font-size: 4rem;
  margin-bottom: 0.25em;
  text-align: center;
  font-family: "GOST type BU";
  font-weight: bold;
}

.win {
  pointer-events: none;
  background: black;
}

.start {
  z-index: 300;
  background: rgba(210, 210, 210, 0.49);
  width: 100vw;
  height: 100vh;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.start__section {
  width: 60vw;
  background: white;
  border-radius: 5px;
  padding: 20px;
}
.start__section label {
  font-size: 1rem;
  color: black;
  font-family: "GOST Type BU";
  text-transform: uppercase;
  text-align: center;
}
.start__title {
  font-size: 2rem;
  color: black;
  margin-bottom: 20px;
  font-family: "GOST Type BU";
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.start input[type=text] {
  height: 40px;
  width: 75%;
  outline: none;
  border: 1px solid rgba(210, 210, 210, 0.49);
  padding: 5px 0 5px 15px;
  font-size: 1.2rem;
}
.start input[type=text]::-webkit-input-placeholder {
  color: rgba(210, 210, 210, 0.49);
  font-size: 1.2rem;
}
.start input[type=text]::-moz-placeholder {
  color: rgba(210, 210, 210, 0.49);
  font-size: 1.2rem;
}
.start input[type=text]:-ms-input-placeholder {
  color: rgba(210, 210, 210, 0.49);
  font-size: 1.2rem;
}
.start input[type=text]::-ms-input-placeholder {
  color: rgba(210, 210, 210, 0.49);
  font-size: 1.2rem;
}
.start input[type=text]::placeholder {
  color: rgba(210, 210, 210, 0.49);
  font-size: 1.2rem;
}
.start input[type=text]:focus {
  outline: none;
}
.start input[type=text]:focus::-webkit-input-placeholder {
  color: transparent;
}
.start input[type=text]:focus::-moz-placeholder {
  color: transparent;
}
.start input[type=text]:focus:-ms-input-placeholder {
  color: transparent;
}
.start input[type=text]:focus::-ms-input-placeholder {
  color: transparent;
}
.start input[type=text]:focus::placeholder {
  color: transparent;
}
.start__cross, .start__circle {
  width: 52px;
  height: 52px;
  float: right;
  border: 1px solid rgba(210, 210, 210, 0.49);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.start__cross img, .start__circle img {
  width: 42px;
  height: 42px;
  -o-object-fit: cover;
     object-fit: cover;
}
.start__cross:hover, .start__circle:hover {
  cursor: pointer;
}
.start__cross {
  margin-left: 10px;
}
.start__button {
  display: block;
  width: 50%;
  border: none;
  outline: none;
  background: rgba(210, 210, 210, 0.49);
  padding: 0.5em 0;
  margin: 0 auto;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "GOST Type BU";
}
.start__button:hover {
  cursor: pointer;
}
.start__firstPlayer-Error, .start__secondPlayer-Error {
  color: red;
  font-size: 1rem;
  font-family: "GOST Type BU";
  text-transform: uppercase;
  margin-bottom: 25px;
  display: block;
  text-align: start;
}

.choose {
  background: green;
}