body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  body{
    background: #d9d9d9;
  }
}
.field{
  height: 100vh;
  position: relative;
  &__cross-name, &__circle-name{
    line-height: 75px;
    font-family: "GOST Type BU";
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    width: max-content;
  }
  &__cross-name{
    margin-left: 15px;
  }
  &__circle-name{
    margin-left: auto;
    margin-right: 15px;
  }
  &__cross-player, &__circle-player{
    position: absolute;
    top: 7vh;
    max-width: 250px;
    width: 250px;
    height: 75px;
    border-radius: 5px;
    z-index: 200;
    display: flex;
    align-items: center;
  }
  &__cross-player{
    left: 10px;
  }
  &__circle-player{
    right: 10px;
  }
  &__container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: max-content;
    margin: 0 auto;
  }
  &__grid{
    display: grid;
    width: 100%;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: repeat(3, 150px);
    grid-auto-rows: 1fr;
    box-shadow: 0px -1px 39px 3px rgba(34, 60, 80, 0.11);
  }
  &__Bigcell{
    box-shadow: 0px -1px 39px 3px rgba(255, 154, 154, 0.11);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 50px);
    border: 1px solid #555555;
  }
  &__smallCell{
    border: 1px solid #a8a8a8;
    position: relative;
    &:hover{
      cursor: pointer;
    }
    img{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 40px;
      height: 40px;
      object-fit: cover;
    }
  }
  &__score{
    font-size: 4rem;
    margin-bottom: 0.25em;
    text-align: center;
    font-family: "GOST type BU";
    font-weight: bold;
  }
}
.win{
  pointer-events: none;
  background: black;
}
.start{
  z-index: 300;
  background: rgba(210,210,210,0.49);
  width: 100vw;
  height: 100vh;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &__section{
    width: 60vw;
    background: white;
    border-radius: 5px;
    padding: 20px;
    label{
      font-size: 1rem;
      color: black;
      font-family: "GOST Type BU";
      text-transform: uppercase;
      text-align: center;
    }
  }
  &__title{
    font-size: 2rem;
    color: black;
    margin-bottom: 20px;
    font-family: "GOST Type BU";
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
  input[type = "text"]{
    height: 40px;
    width: 75%;
    outline: none;
    border: 1px solid rgba(210,210,210,0.49);
    padding: 5px 0 5px 15px;
    font-size: 1.2rem;
    &::placeholder{
      color: rgba(210,210,210,0.49);
      font-size: 1.2rem;
    }
    &:focus{
      outline: none;
      &::placeholder{
        color: transparent;
      }
    }
  }
  &__cross, &__circle{
    width: 52px;
    height: 52px;
    float: right;
    border: 1px solid rgba(210,210,210,0.49);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 42px;
      height: 42px;
      object-fit: cover;
    }
    &:hover{
      cursor: pointer;
    }
  }
  &__cross{
    margin-left: 10px;
  }
  &__button{
    display: block;
    width: 50%;
    border: none;
    outline: none;
    background: rgba(210,210,210,0.49);
    padding: 0.5em 0;
    margin: 0 auto;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: "GOST Type BU";
    &:hover{
      cursor: pointer;
    }
  }
  &__firstPlayer-Error, &__secondPlayer-Error {
    color: red;
    font-size: 1rem;
    font-family: "GOST Type BU";
    text-transform: uppercase;
    margin-bottom: 25px;
    display: block;
    text-align: start;
  }
}
.choose{
  background: green;
}